



client/node_modules
server/node_modules
/dist
/dist-ssr
server/exports
server/export-to-json.js
server/import-from-json.js


*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?